

<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <% if @racoon.user.photo.attached? %>
          <%= cl_image_tag @racoon.user.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src='https://t4.ftcdn.net/jpg/04/50/96/23/240_F_450962330_w4RDU0GCIeKy0QvSxBuJ0MHp4mkuXWts.jpg'alt="racoon_text_pciture"/>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>
          <%= @racoon.user.username %>
        </h5>
        <h6>
          Racoon Chef
        </h6>
      </div>
    </div>
    <div class="col-md-2">
      <%= link_to "Back to Home", root_path, class: "profile-edit-btn" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>SERVICE DESCRIPTION</p>
        <a href=""><%= @racoon.service.description %></a><br/>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p><%= @racoon.user.username %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Speciality</label>
            </div>
            <div class="col-md-6">
              <p><%= @racoon.service.title %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Price</label>
            </div>
            <div class="col-md-6">
              <p><%= @racoon.service.price.round(2) %>€</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Disponibilities :</label>
            </div>
            <div class="col-md-6">
              <label>
                <% if @racoon.disponibilities.present? %>
                  <% @disponibilities.each do |disponibility| %>
                    <li><%= disponibility.date %>
                      <% if @racoon.id != current_user.racoon.id %>
                        <%= button_to "Book Chef", "/users/#{current_user.id}/reservations?disponibility=#{disponibility.id}&racoon=#{@racoon.id}", method: :post, class: "btn btn-primary text-white" %></li>
                      <% else %>
                      <% end %>
                  <% end %>
                <% end %>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
