<h1>Dashboard</h1>
<h2>Your information</h2>
<p>Username : <%= @user.username %></p>
<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>
<p>Address : <%= @user.address %></p>
<p>City : <%= @user.city %></p>
<%= link_to "Change my information", edit_user_registration_path(@user), class:"btn btn-secondary" %>

<% if @user.reservations.present? %>
  <h2>Your reservations</h2>
  <div class="row">
    <% @user.reservations.each do |reservation| %>
      <div class="col border">
      <p><strong><%= reservation.racoon.user.username %></strong></p>
      <p><%= reservation.disponibility.date %></p>
      <p><%= reservation.racoon.service.price.round(2) %>€</p>
      <p><%= reservation.status %></p>
      <%= link_to 'Details',user_reservation_path(@user,reservation), class:'btn btn-outline-secondary' %>
      </div>
    <% end %>
  <% else %>
    <p>You don't have any reservation yet</p>
  </div>
  <% end %>
    <% if @user.racoon.present? %>
    <h2>Your racoon profile</h2>
    <h3>Information</h3>
    <% if @user.racoon.service.present?%>
      <p>Title : <strong><%= @user.racoon.service.title %></strong></p>
      <p>Description : <%= @user.racoon.service.description %></p>
      <p>Item : <%= @user.racoon.service.item %></p>
      <p>Price : <%= @user.racoon.service.price %>€</p>
      <%= link_to "I'm done being racoon", racoon_path(@user.racoon), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-secondary" %>
      <%= link_to 'Change your service',edit_racoon_service_path(@user.racoon, @user.racoon.service), class:'btn btn-outline-secondary' %>
    <% else %>
      <%= link_to 'Add a service',new_racoon_service_path(@user.racoon), class:'btn btn-outline-secondary' %>
    <% end %>
    <h3>My Disponibilities</h3>
      <%= link_to 'Add disponibility', new_racoon_disponibility_path(@user.racoon) %>
      <% @user.racoon.disponibilities.each do |disponibility| %>
        <p><strong><%= disponibility.date %></strong> - <%= disponibility.status %></p>
      <% end %>
    <% if @user.racoon.reservations.present?%>
      <h3>Bookings</h3>
      <div class="row">
        <% @user.racoon.reservations.each do |reservation| %>
          <div class="col border">
          <p><strong><%= reservation.user.username %></strong></p>
          <p><%= reservation.disponibility.date %></p>
          <p><%= reservation.racoon.service.price.round(2) %>€</p>
          <p><%= reservation.status %></p>
          <% if reservation.status == 'pending' %>
            <p><%= button_to reservation_accept_path(reservation), method: :patch, class:'btn btn-success' do %>
                <i class="fa-regular fa-circle-check"></i>
                <% end %>
              <%= button_to reservation_refuse_path(reservation), method: :patch, class:'btn btn-danger' do %>
                <i class="fa-regular fa-circle-xmark"></i>
                <% end %>
            </p>
          <% end %>
          <%= link_to 'Details',user_reservation_path(reservation.user,reservation), class:'btn btn-outline-secondary' %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= button_to "Become racoon", racoons_path, method: :post, class:"btn btn-secondary" %>
  <% end %>
</div>
