<h1>Your reservation</h1>

<% if @racoon.user.photo.attached? %>
  <%= cl_image_tag @racoon.user.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <img src='https://t4.ftcdn.net/jpg/04/50/96/23/240_F_450962330_w4RDU0GCIeKy0QvSxBuJ0MHp4mkuXWts.jpg'>
<% end %>
<ul>
  <li>Date : <%= @disponibility.date %></li>
  <li>Racoon : <%= @racoon.user.username %></li>
  <li>Activity address : <%= current_user.address %></li>
  <h2>Service</h2>
  <li>Title : <%= @service.title %></li>
  <li>Description : <%= @service.description %></li>
  <li>item : <%= @service.item %></li>
  <li>price : <%= @service.price %></li>


</ul>
